<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   	<!-- jdbc.prperties文件中uesrname 和系统中变量username重复，会优先加载jvm的变量值，加 system-properties-mode="FALLBACK" 当文件不存在时覆盖-->
	<context:property-placeholder location="classpath:com/smart/placeholder/jdbc.properties" system-properties-mode="FALLBACK"/>
		 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" 
		p:driverClassName="${driverClassName}" 
		p:url="${url}"
		p:username="${userName}" 
		p:password="${password}"/>
		
	<bean id="sysConfig" class="com.smart.beanprop.SysConfig"
	      init-method="initFromDB"
	      p:dataSource-ref="dataSource"/>
	
	<bean class="com.smart.beanprop.ApplicationManager"
	    p:maxTabPageNum="#{sysConfig.maxTabPageNum}"
	    p:sessionTimeout="#{sysConfig.sessionTimeout}"/>      	
</beans>
