<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="clone">
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
    </bean>

    <!-- 表名base_table_id, 字段为order_id -->
    <bean id="orderSequence" class="com.sishuok.mysqlIncrId.MySQLMaxValueIncr">
        <property name="incrementerName" value="base_table_id"/>
        <property name="columnName" value="order_id"/>
        <property name="cacheSize" value="20"/>
        <property name="dataSource" value="dataSource"/>
    </bean>
</beans>